parameters:

services:
    _defaults:
        public: false


    prooph.message_factory:
        class: AFS\ProophBundle\Prooph\AggregateChangedMessageFactory

    Prooph\Common\Messaging\MessageFactory:
        alias: prooph_message_factory

    afs.prooph.converter:
        class: AFS\ProophBundle\Prooph\Converter\AggregateChangedConverter
        arguments: [ '@serializer', '@serializer' ]

    AFS\ProophBundle\Prooph\Converter\AggregateChangedConverterInterface:
        alias: afs.prooph.converter

    afs.prooph.aggregate_translator:
        class: AFS\ProophBundle\Prooph\EventSourcing\AggregateTranslator
        arguments: [ '@afs.prooph.converter' ]

    Prooph\EventSourcing\Aggregate\AggregateTranslator:
        alias: afs.prooph.aggregate_translator

    AFS\ProophBundle\Prooph\Command\CreateProjectionTableCommand:
        tags:
            - { name: 'console.command', command: 'afs:prooph:projection-table' }

    AFS\ProophBundle\Prooph\Command\CreateStreamTableCommand:
        tags:
            - { name: 'console.command', command: 'afs:prooph:stream-table' }