parameters:

services:
    _defaults:
        public: false

    prooph.message_factory:
        class: AFS\ProophBundle\Prooph\AggregateChangedMessageFactory

    Prooph\Common\Messaging\MessageFactory:
        alias: prooph.message_factory

    afs.prooph.converter:
        class: AFS\ProophBundle\Prooph\EventSourcing\Converter\AggregateChangedConverter
        arguments: [ '@serializer', '@serializer' ]

    AFS\ProophBundle\Prooph\Converter\AggregateChangedConverterInterface:
        alias: afs.prooph.converter

    afs.prooph.aggregate_translator:
        class: AFS\ProophBundle\Prooph\EventSourcing\AggregateTranslator
        arguments: [ '@afs.prooph.converter' ]

    Prooph\EventSourcing\Aggregate\AggregateTranslator:
        alias: afs.prooph.aggregate_translator

    Symfony\Component\Serializer\Normalizer\PropertyNormalizer:
        tags:
            - { name: 'serializer.normalizer', priority: -980 }

    AFS\ProophBundle\Prooph\EventStore\Plugin\EventPublisherPlugin:
        arguments: [ '@event_bus', '@afs.prooph.converter' ]
        tags:
            - { name: 'prooph_event_store.plugin' }
    AFS\ProophBundle\Prooph\EventStore\Plugin\ProjectionPlugin:
        arguments: [ '@event_bus', '@afs.prooph.converter' ]
        tags:
            - { name: 'prooph_event_store.plugin' }
    AFS\ProophBundle\Prooph\EventStore\Plugin\EventConverterPlugin:
        arguments: [ '@event_bus', '@afs.prooph.converter' ]
        tags:
            - { name: 'prooph_event_store.plugin' }


    Prooph\Bundle\EventStore\Factory\DefaultActionEventEmitterFactory: ~
    Prooph\Bundle\EventStore\Factory\DefaultEventStoreFactory: ~

    Prooph\Bundle\EventStore\Factory\EventStoreFactory:
        alias: Prooph\Bundle\EventStore\Factory\DefaultEventStoreFactory

    Prooph\Bundle\EventStore\Factory\ActionEventEmitterFactory:
        alias: Prooph\Bundle\EventStore\Factory\DefaultActionEventEmitterFactory

    prooph_event_store.projection_store:
        class: Prooph\EventStore\ActionEventEmitterEventStore
        factory: 'Prooph\Bundle\EventStore\Factory\EventStoreFactory:createEventStore'
        arguments:
            - 'projection_store'
            - '@Prooph\EventStore\EventStore'
            - '@Prooph\Bundle\EventStore\Factory\ActionEventEmitterFactory'
            - 'Prooph\Common\Event\ProophActionEventEmitter'
            - 1
            - '@prooph_event_store.plugins_locator'

